@import '../includes/style/environment';
@import '../includes/style/mixins';

.dialog-action {
    width: 330px;
    height: fit-content;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    }
    .dialog-action-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: $colorDarkGray;
        box-sizing: border-box;
        }

    .dialog-action-description {
        width: 100%;
        font-size: 14px;
        color: $colorMediumGray;
        box-sizing: border-box;
        }

    .dialog-action-buttons-container {
        width: 100%;
        height: 40px;
        margin: 16px 0 0 0;
        }
        .dialog-action-button {
            height: 40px;
            line-height: 40px;
            float: right;
            padding: 0 8px !important;
            border-radius: 8px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            // types
            &.accept {
                }

            &.dismiss {
                margin: 0 16px 0 0;
                color: $colorMediumGray;
                }

            // colors
            &.green {
                background-color: rgba($colorGreen, 0.2);
                color: $colorGreen;
                }

            &.purple {
                background-color: rgba($colorPurple, 0.2);
                color: $colorPurple;
                }

            &.red {
                background-color: rgba($colorRed, 0.2);
                color: $colorRed;
                }
            }
