@import '../../includes/style/environment';
@import '../../includes/style/mixins';

// $widthUnit: (100% - 64px) / 3; // 4 * 16 = 64
// $heightUnit: (100% - 64px) / 3; // 4 * 16 = 64

$widthUnit: 100% / 12;
$marginUnit: 16px;

#home {
	width: 100%;
	height: 100%;
	padding: 8px 16px 16px 16px;
	display: flex;
	flex-direction: column;
	background-color: rgb(248, 248, 248);
	box-sizing: border-box;
	}
	#home-header {
		width: calc(100% - 48px);
		height: 32px;
		margin: 0 0 24px 0;
		padding: 2px;
		position: relative;
		display: flex;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
		border-radius: 8px;
		overflow: hidden;
		box-sizing: border-box;

		&:hover {
			#home-tab-add-button { visibility: visible; opacity: 1.0; }
			}
		}
		#home-header-loading {
			width: 28px;
			height: 28px;
			}

		#home-tab-buttons-container {
			// float: left;
			height: 100%;
			display: flex;
			overflow: scroll;
			}
			.home-tab-button {
				height: 100%;
				line-height: 28px;
				float: left;
				margin: 0 2px 0 0;
				padding: 0 8px;
				display: flex;
				transition: all 0.2s ease;
				cursor: pointer;
				border-radius: 8px;
				// text-overflow: ellipsis;
				// overflow: hidden;
				white-space: nowrap;

				&:hover {
					background-color: rgba($colorBlack, 0.1);
					.home-tab-button-name { color: $colorBlack; }
					}

				&.active {
					background-color: rgba($colorBlack, 0.1);

					.home-tab-button-name { color: $colorBlack; }
					.home-tab-button-edit { display: block; }
					// .home-tab-button-delete { display: block; }
					}
				}
				.home-tab-button-not-saved {
					width: 3px;
					height: 3px;
					position: absolute;
					top: 14px;
					left: 4px;
					background-color: $colorMediumGray;
					border-radius: 2px;
					}

				.home-tab-button-name {
					font-size: 12px;
					color: $colorMediumGray;
					transition: all 0.2s ease;
					}

				.home-tab-button-edit {
					width: 22px;
					height: 22px;
					line-height: 22px;
					margin: 3px -5px 0 6px;
					border-radius: 8px;
					background-color: rgba($colorBlue, 0.2);
					text-align: center;
					display: none;

					i {
						vertical-align: middle;
						font-size: 14px;
						color: $colorBlue;
						}
					}

		#home-tab-add-button {
			// width: 22px;
			height: 22px;
			line-height: 22px;
			// float: left;
			margin: 3px 3px 0 5px;
			padding: 0 3px;
			visibility: hidden;
			opacity: 0.0;
			transition: all 0.2s ease;
			text-align: center;
			cursor: pointer;
			border-radius: 8px;
			background-color: rgba($colorGreen, 0.2);

			i {
				vertical-align: middle;
				font-size: 16px;
				color: $colorGreen;
				}
			}
