
$colorBlack          : rgb(51 , 57 , 88 );
$colorDarkGray       : rgb(99 , 126, 150);
$colorMediumGray     : rgb(123, 146, 166);
$colorLightGray      : rgb(207, 207, 207);
$colorUltraLightGray : rgb(241, 244, 246);
$colorRed            : rgb(252, 74 , 96 );
$colorBlue           : rgb(79 , 135, 251);
$colorGreen          : rgb(34 , 180, 178);
$colorPurple         : rgb(124, 77 , 255);
$colorWhite          : rgb(235, 248, 248);

$backgroundImage: linear-gradient(to bottom, rgb(230, 227, 226) , rgb(221, 217, 216));
$backgroundColor: rgb(243, 247, 253);
$borderRadius: 6px;
$animationDuration: 0.3s;
