@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

#home-candlesticks-day-card {
    width: calc(35% - 8px);
    height: calc(33% - 8px);
    position: absolute;
    top: 0;
    left: calc(65% + 8px);
    }
    .home-candlesticks-day {
        width: 100%;
        height: 100%;
        }
        .home-candlesticks-day-edit {
            width: 100%;
            height: 100%;
            }