@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

.home-charts-card {
    width: calc(65% - 8px);
    height: calc(66% - 8px);
    position: absolute;
    top: 0;
    left: 0;
    }
    .home-charts {
        width: 100%;
        height: 100%;
        }
        .home-charts-edit {
            width: 100%;
            height: 100%;
            }
            .home-charts-edit-left {
                width: 170px;
                height: 100%;
                float: left;
                padding: 0 8px 0 0;
                border-right: solid 1px $colorLightGray;
                box-sizing: border-box;
                }
                .home-charts-edit-list {
                    width: 100%;
                    height: calc(100% - 40px);
                    overflow: auto;
                    }
                    .home-charts-edit-list-item {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        position: relative;
                        margin: 0 0 4px 0;
                        border-radius: 8px;
                        text-align: center;
                        font-size: 14px;
                        color: $colorDarkGray;
                        cursor: pointer;
                        @include transition(all 0.1s ease);
        
                        &.active {
                            background-color: rgba($colorPurple, 0.2);
                            color: $colorPurple;
                            cursor: default;
                            }

                        .home-charts-edit-list-item-delete { opacity: 0; }

                        &:hover {
                            .home-charts-edit-list-item-delete { opacity: 1; }
                            }
                        }
                        .home-charts-edit-list-item-color {
                            width: 4px;
                            height: 4px;
                            position: absolute;
                            top: 18px;
                            left: 18px;
                            border-radius: 2px;
                            }

                        .home-charts-edit-list-item-delete {
                            width: 24px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            position: absolute;
                            top: 8px;
                            right: 8px;
                            @include transition(all 0.1s ease);
                            background-color: rgba($colorRed, 0.2);
                            border-radius: 8px;
                            cursor: pointer;
            
                            i {
                                vertical-align: middle;
                                font-size: 14px;
                                color: $colorRed;
                                }
                            }
        
                .home-charts-edit-list-add {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 8px;
                    text-align: center;
                    background-color: rgba($colorGreen, 0.2);
                    cursor: pointer;
        
                    i {
                        font-size: 18px;
                        color: $colorGreen;
                        }
        
                    span {
                        margin: 0 0 0 4px;
                        font-size: 14px;
                        color: $colorGreen;
                        }
                    }

            .home-charts-edit-right {
                width: calc(100% - 170px);
                height: 100%;
                float: left;
                }