@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

.home-chart-data {
    width: 100%;
    height: 100%;
    }
    .home-chart-data-symbols-container {
        width: 40px;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column-reverse;
        // border-right: solid 1px $colorMediumGray;
        background-image: linear-gradient(to right, $colorLightGray, #fff);
        box-sizing: border-box;
        }
        .home-chart-data-symbol {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: $colorDarkGray;
            }

    .home-chart-data-numbers-container {
        width: calc(100% - 40px - 40px);
        height: 100%;
        float: left;
        display: flex;
        overflow: auto;
        }
        .home-chart-data-number-row {
            min-width: 100px;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column-reverse;

            &.border { border-right: dashed 1px $colorLightGray; }

            .home-chart-data-number-row-delete { opacity: 0; }
            .home-chart-data-number-row-move-left { opacity: 0; }
            .home-chart-data-number-row-move-right { opacity: 0; }

            &:hover {
                .home-chart-data-number-row-delete { opacity: 1; }
                .home-chart-data-number-row-move-left { opacity: 1; }
                .home-chart-data-number-row-move-right { opacity: 1; }
                }
            }
            .home-chart-data-number-row-delete {
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                position: absolute;
                bottom: 8px;
                right: 0;
                left: 0;
                margin: 0 auto;
                @include transition(all 0.1s ease);
                background-color: rgba($colorRed, 0.2);
                border-radius: 8px;
                cursor: pointer;

                i {
                    vertical-align: middle;
                    font-size: 14px;
                    color: $colorRed;
                    }
                }

            .home-chart-data-number-row-move-left {
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                position: absolute;
                top: 0;
                right: 30px;
                left: 0;
                margin: 0 auto;
                @include transition(all 0.1s ease);
                background-color: rgba($colorBlue, 0.2);
                border-radius: 8px;
                cursor: pointer;

                i {
                    vertical-align: middle;
                    font-size: 14px;
                    color: $colorBlue;
                    }
                }

            .home-chart-data-number-row-move-right {
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                left: 30px;
                margin: 0 auto;
                @include transition(all 0.1s ease);
                background-color: rgba($colorBlue, 0.2);
                border-radius: 8px;
                cursor: pointer;

                i {
                    vertical-align: middle;
                    font-size: 14px;
                    color: $colorBlue;
                    }
                }

            .home-chart-data-number-cell {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: $colorMediumGray;
                cursor: default;
                }

    .home-chart-data-add {
        width: 40px;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: rgba($colorGreen, 0.2);
        cursor: pointer;

        i {
            font-size: 18px;
            color: $colorGreen;
            }

        span {
            margin: 0 0 0 4px;
            font-size: 14px;
            color: $colorGreen;
            }
        }