@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

.home-estimates {
    height: 100%;
    // overflow: hidden;
    }
    .home-estimates-header {
        width: 100%;
        height: 40px;
        display: flex;
        border-bottom: solid 1px #aaa;
        box-sizing: border-box;
        }
        .home-estimates-header-text {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: #aaa;
            }

        .home-estimates-header-line {
            width: 1px;
            height: 4px;
            margin: 36px 0 0 0;
            background-color: #aaa;
            }

    .home-estimates-main {
        width: 100%;
        height: calc(100% - 40px);
        overflow: scroll;

        & > div {
            border-bottom: solid 1px $colorUltraLightGray;
            }

        & > div:last-child {
            border-bottom: none;
            }
        }
        .home-estimates-main-item {
            width: 100%;
            height: 40px;
            display: flex;
            position: relative;
            box-sizing: border-box;

            .home-estimates-main-item-delete { opacity: 0; }

            &:hover {
                .home-estimates-main-item-delete { opacity: 1; }
                }
            }
            .home-estimates-main-item-cell {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                }

            .home-estimates-main-item-delete {
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                position: absolute;
                top: 8px;
                right: 0px;
                @include transition(all 0.1s ease);
                background-color: rgba($colorRed, 0.2);
                border-radius: 8px;
                cursor: pointer;

                i {
                    vertical-align: middle;
                    font-size: 14px;
                    color: $colorRed;
                    }
                }