@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

.home-info {
    width: 100%;
    height: 100%;
    overflow: auto;

    & > div {
        border-bottom: solid 1px $colorUltraLightGray;
        }

    & > div:last-child {
        border-bottom: none;
        }
    }
    .home-info-item {
        width: 100%;
        // height: 36px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        
        &.border-bottom {
            border-bottom: solid 1px $colorUltraLightGray;
            }

        .home-info-item-delete { opacity: 0; }

        &:hover {
            .home-info-item-delete { opacity: 1; }
            }
        }
        .home-info-item-state {
            width: 24px;
            // height: 100%;
            // float: right;

            i {
                width: 24px;
                height: 24px;
                // line-height: 36px;
                line-height: 22px;
                vertical-align: middle;
                text-align: center;
                font-size: 14px;
                }

            &.red {
                i { color: $colorRed; }
                }

            &.gray {
                i { color: $colorMediumGray; }
                }
    
            &.green {
                i { color: $colorGreen; }
                }
            }

        .home-info-item-title {
            width: 100px;
            // height: 100%;
            // line-height: 36px;
            // float: right;
            line-height: 24px;
            font-size: 12px;
            text-align: right;
            direction: rtl;
            }

        .home-info-item-description {
            width: calc(100% - 100px - 24px);
            // height: 100%;
            // line-height: 36px;
            // float: right;
            line-height: 24px;
            font-size: 11px;
            text-align: right;
            direction: rtl;
            }

        .home-info-item-delete {
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
            @include transition(all 0.1s ease);
            background-color: rgba($colorRed, 0.2);
            border-radius: 8px;
            cursor: pointer;

            i {
                vertical-align: middle;
                font-size: 14px;
                color: $colorRed;
                }
            }