@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

#home-numbers-card {
    width: calc(35% - 8px);
    height: calc(33% - 8px - 8px);
    position: absolute;
    top: calc(33% + 8px);
    left: calc(65% + 8px);
    }
    .home-numbers {
        width: 100%;
        height: 100%;
        padding: 0 8px;
        box-sizing: border-box;
        }
        .home-numbers-left {
            width: 50%;
            height: 100%;
            float: left;
            }
            .home-numbers-item {
                width: 100%;
                height: 36px;

                &.border-bottom {
                    border-bottom: solid 1px $colorUltraLightGray;
                    }
                }
                .home-numbers-item-name {
                    width: 50%;
                    height: 100%;
                    line-height: 36px;
                    float: left;
                    font-size: 13px;
                    color: $colorMediumGray;
                    }

                .home-numbers-item-value {
                    line-height: 30px;
                    float: left;
                    margin: 3px 0 0 0;
                    font-size: 15px;
                    color: $colorDarkGray;
                    box-sizing: border-box;
                    border-radius: 8px;

                    &.gray {
                        padding: 0 8px;
                        background-color: rgba($colorMediumGray, 0.2);
                        color: $colorMediumGray;
                        }

                    &.red {
                        padding: 0 8px;
                        background-color: rgba($colorRed, 0.2);
                        color: $colorRed;
                        }

                    &.green {
                        padding: 0 8px;
                        background-color: rgba($colorGreen, 0.2);
                        color: $colorGreen;
                        }
                    }

        .home-numbers-right {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
            }
            .home-numbers-intrinsic-price {
                width: 130px;
                height: 130px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                border: solid 1px rgba($colorLightGray, 0.2);
                border-radius: 8px;
                box-sizing: border-box;
                }
                .home-numbers-intrinsic-price-name {
                    width: 100%;
                    height: 65px;
                    line-height: 65px;
                    font-size: 16px;
                    text-align: center;
                    color: $colorMediumGray;
                    }

                .home-numbers-intrinsic-price-value {
                    width: fit-content;
                    line-height: 36px;
                    margin: 4px auto 0;
                    padding: 0 10px;
                    border-radius: 8px;
                    box-sizing: border-box;
                    font-size: 18px;
                    text-align: center;

                    &.gray {
                        background-color: rgba($colorMediumGray, 0.2);
                        color: $colorMediumGray;
                        }

                    &.red {
                        background-color: rgba($colorRed, 0.2);
                        color: $colorRed;
                        }

                    &.green {
                        background-color: rgba($colorGreen, 0.2);
                        color: $colorGreen;
                        }
                    }
                    .home-numbers-intrinsic-price-value-percent {
                        margin: 0 0 0 6px;
                        font-size: 11px;
                        }
