@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

#home-tab {
    flex: 1;
    position: relative;
    }
    #home-estimates-card {
        width: calc(48% - 8px);
        height: calc(34% - 8px);
        position: absolute;
        top: calc(66% + 8px);
        left: 0;
        }

    #home-my-trade-card {
        width: calc(17% - 8px - 8px);
        height: calc(34% - 8px);
        position: absolute;
        top: calc(66% + 8px);
        left: calc(48% + 8px);
        }

    #home-info-card {
        width: calc(35% - 8px);
        height: calc(34% - 8px);
        position: absolute;
        top: calc(66% + 8px);
        left: calc(65% + 8px);
        }


	#home-tab-discard-button {
		width: 40px;
		height: 40px;
		line-height: 40px;
		position: absolute;
		bottom: 40px;
		left: -8px;
		background-color: $colorPurple;
		text-align: center;
		border-radius: 8px;
		@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.2));
		cursor: pointer;

		i {
			font-size: 20px;
			color: #fff;
			}
		}

	#home-tab-save-button {
		width: 40px;
		height: 40px;
		line-height: 40px;
		position: absolute;
		bottom: -8px;
		left: -8px;
		background-color: $colorGreen;
		text-align: center;
		border-radius: 8px;
		@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.2));
		cursor: pointer;

		i {
			font-size: 20px;
			color: #fff;
			}
		}