
.home-estimates {
    height: 100%;
    }
    .home-estimates-header {
        width: 100%;
        height: 40px;
        display: flex;
        border-bottom: solid 1px #aaa;
        }
        .home-estimates-header-text {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: #aaa;
            }

        .home-estimates-header-line {
            width: 1px;
            height: 4px;
            margin: 36px 0 0 0;
            background-color: #aaa;
            }

    .home-estimates-main {
        width: 100%;

        & > div {
            border-bottom: solid 1px #eee;
            }

        & > div:last-child {
            border-bottom: none;
            }
        }
        .home-estimates-main-item {
            width: 100%;
            height: 40px;
            display: flex;

            div {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                }
            }