
.home-info {
    width: 100%;
    height: 100%;
    }
    .home-info-item {
        width: 100%;
        height: 40px;
        }
        .home-info-item-title {
            width: 100px;
            height: 100%;
            line-height: 40px;
            float: left;
            }

        .home-info-item-description {
            width: calc(100% - 100px);
            height: 100%;
            line-height: 40px;
            float: left;
            }