
.home-my-trade {
    width: 100%;
    height: 100%;
    }
    .home-my-trade-item {
        width: 90%;
        height: 50px;
        margin: 20px auto 0;
        position: relative;
        border-radius: 12px;
        box-sizing: border-box;
        }
        .home-my-trade-item-tag {
            width: 36px; // 50 - (2 * 8)
            height: 36px;
            position: absolute;
            top: 8px;
            left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            font-size: 18px;
            color: #fff;
            }

        .home-my-trade-item-text {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #fff;
            }