@import '../../includes/style/environment';
@import '../../includes/style/mixins';

#auth {
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    }
    #auth-logo-container {
        width: 100%;
        position: absolute;
        top: 84px;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 200px;
            }
        }

    #auth-login-button {
        width: 260px;
        height: 60px;
        line-height: 62px;
        text-align: center;
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            }
        }