@import '../includes/style/environment';
@import '../includes/style/mixins';

.account {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    }
    .account-image {
        width: 48px;
        height: 48px;
        padding: 2px;
        border-radius: 24px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;

        img {
            width: 44px;
            height: 44px;
            border-radius: 22px;
            font-size: 8px;
            }
        }
        .account-image-placeholder {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 22px;
            background-color: rgba($colorMediumGray, 0.2);

            i {
                vertical-align: middle;
                font-size: 24px;
                color: $colorMediumGray;
                }
            }

    .account-menu {
        width: 150px;
        position: absolute;
        top: 52px;
        right: 0;
        padding: 4px 4px;
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
        }
        .account-menu-name {
            width: 100%;
            height: 36px;
            line-height: 36px;
            margin: 0 0 8px 0;
            padding: 0 4px;
            font-size: 14px;
            color: $colorDarkGray;
            border-bottom: solid 1px $colorLightGray;
            box-sizing: border-box;
            }

        .account-menu-item {
            width: 100%;
            height: 36px;
            line-height: 36px;
            padding: 0 4px;
            border-radius: 12px;
            box-sizing: border-box;
            cursor: pointer;
            @include transition(all 0.1s ease);

            &:hover {
                background-color: rgba($colorMediumGray, 0.2);
                }

            i {
                vertical-align: middle;
                font-size: 24px;
                color: $colorMediumGray;
                }

            span {
                margin: 0 0 0 8px;
                font-size: 14px;
                color: $colorMediumGray;
                }
            }