@import '../includes/style/environment';
@import '../includes/style/mixins';

$headerHeight: 28px;

.card {
	padding: 8px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;

	&:hover {
		.card-header-button { visibility: visible; opacity: 1.0; }
		}
	}
	.card-header {
		width: 100%;
		height: $headerHeight;
		}
		.card-title {
			float: left;
			font-size: 14px;
			color: #555;
			}

		.card-header-button {
			width: 22px;
			height: 22px;
			line-height: 22px;
			float: right;
			visibility: hidden;
			opacity: 0.0;
			transition: all 0.2s ease;
			text-align: center;
			cursor: pointer;
			border-radius: 8px;

			i {
				vertical-align: middle;
				font-size: 16px;
				}

			&.green {
				background-color: rgba($colorGreen, 0.2);
				i { color: $colorGreen; }
				}

			&.blue {
				background-color: rgba($colorBlue, 0.2);
				i { color: $colorBlue; }
				}

			&.purple {
				background-color: rgba($colorPurple, 0.2);
				i { color: $colorPurple; }
				}
			}

	.card-main {
		height: calc(100% - #{$headerHeight});
		}