@import '../includes/style/mixins';

.dialog-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  &.show {
    @include animation(dialog_container_show 0.3s ease 0s);
    }
  &.hide {
    @include animation(dialog_container_hide 0.3s ease 0s forwards);
    }
  }
  @include keyframes(dialog_container_show) {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
  }
  @include keyframes(dialog_container_hide) {
    0% {opacity: 1.0}
    100% {opacity: 0.0}
  }

  .dialog {
    width: 1px; // when width not set, set to 1px (if width not set, whole screen taken)
    height: 1px; // when height not set, set to 1px (if height not set, whole screen taken)
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    }