@import '../includes/style/environment';
@import '../includes/style/mixins';

$height : 50px;

.input {
    width: 100%;
    height: $height;
    line-height: $height;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    &.border-bottom {
        border-bottom: solid 1px $colorUltraLightGray;
        }
    }
    .input-title {
        width: 100px;
        height: 100%;
        cursor: default;
        text-align: left;

        span {
            margin: 0 0 0 8px;
            font-size: 14px;
            color: $colorMediumGray;
            }
        }
        .input-icon {
            width: 20px;
            height: 20px;
            margin: (($height - 20px) / 2) 0 0 0;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($colorMediumGray, 0.2);
            border-radius: 8px;

            i {
                font-size: 14px;
                color: $colorMediumGray;
                }
            }

    .input-main {
        flex: 1;
        height: 100%;
        position: relative;
        margin: 0 16px 0 0;

        .input-main-input {
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 14px;
            text-align: left;
            color: $colorBlack;
            direction: ltr;
            }

        .input-main-textarea {
            width: 100%;
            height: 100%;
            line-height: $height;
            padding: 0;
            border: none;
            outline: none;
            resize: none;
            background-color: transparent;
            font-size: 14px;
            text-align: left;
            color: $colorBlack;
            direction: ltr;
            }

        .input-main-date {
            // datepicker not allow className yet
            }
        }
        .input-main-preview {
            height: $height - 16px;
            line-height: $height - 16px;
            position: absolute;
            top: 8px;
            right: 0px;
            padding: 0 8px;
            font-size: 14px;
            border-radius: $borderRadius;
            
            &.green {
                background-color: lighten($colorGreen, 50%);
                color: $colorGreen;
                }

            &.red {
                background-color: lighten($colorRed, 30%);
                color: $colorRed;
                }
            }