@import '../includes/style/environment';
@import '../includes/style/mixins';

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .loading-spinner {
        width: 24px;
        height: 24px;
        border-radius: 12px + 2px;
        border: solid 1px $colorLightGray;
        border-top: solid 1px $colorBlue;
        @include animation(loading_spinner 0.8s linear 0s infinite);

        &.small {
            width: 16px;
            height: 16px;
            border-radius: 8px + 2px;
            }

        &.medium {
            width: 24px;
            height: 24px;
            border-radius: 12px + 2px;
            }

        &.large {
            width: 36px;
            height: 36px;
            border-radius: 18px + 2px;
            }
        }

    @include keyframes(loading_spinner) {
        0% { @include transform(rotate(0deg)) }
        100% { @include transform(rotate(360deg)) }
        }
        