@import '../includes/style/environment';
@import '../includes/style/mixins';

.notif {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: -40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 4px 16px;
  background-color: $colorBlue;
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;
  direction: rtl;
  @include transition(all 0.2s ease);
  z-index: 2;
  }
.notif-show {
  bottom: 0;
  }
  .notif-text {
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    }


@include media(phone-big) {
  }

@include media(tablet-portrait) {
    }

@include media(tablet-landscape) {
    .notif { width: 400px; border-radius: $borderRadius $borderRadius 0 0; }
    }

@include media(desktop) {
  .notif { width: 600px; height: 50px; bottom: -50px; left: 8px; margin: 0; border-radius: $borderRadius; }
  .notif-show { bottom: 8px; }
    .notif-text { line-height: 42px; font-size: 13px; }
  }