@import '../includes/style/environment';
@import '../includes/style/mixins';

$height : 50px;

.select {
    width: 100%;
    height: $height;
    line-height: $height;
    display: flex;
    flex-direction: row;

    &.border-bottom {
        border-bottom: solid 1px $colorUltraLightGray;
        }
    }
    .select-title {
        width: 100px;
        height: 100%;
        cursor: default;
        text-align: left;
        
        span {
            margin: 0 0 0 8px;
            font-size: 15px;
            color: $colorMediumGray;
            }
        }
        .select-icon {
            width: 20px;
            height: 20px;
            margin: (($height - 20px) / 2) 0 0 0;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($colorMediumGray, 0.2);
            border-radius: 8px;

            i {
                font-size: 14px;
                color: $colorMediumGray;
                }
            }

    .select-main {
        flex: 1;
        height: 100%;
        position: relative;
        margin: 0 16px 0 0;

        select {
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 14px;
            text-align: left;
            color: $colorBlack;
            direction: ltr;
            }
        }