
// $widthUnit: (100% - 64px) / 3; // 4 * 16 = 64
// $heightUnit: (100% - 64px) / 3; // 4 * 16 = 64

#home {
	width: 100%;
	height: 100%;
	padding: 8px 16px 16px 16px;
	display: flex;
	flex-direction: column;
	background-color: rgb(248, 248, 248);
	box-sizing: border-box;
	}
	#home-header {
		width: 100%;
		height: 32px;
		margin: 0 0 24px 0;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		}

	#home-main {
		flex: 1;
		display: flex;
		flex-direction: column;
		position: relative;
		}
		.home-row {
			flex: 1;
			display: flex;
			flex-direction: row;
			}

		.home-column {
			flex: 1;
			display: flex;
			flex-direction: column;
			}

		#home-charts {
			display: flex;
			flex-direction: column;
			}
			#home-charts-top {
				flex: 2;
				}

			#home-charts-bottom {
				flex: 1;
				}