@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

.home-dialog-my-trade-edit {
    width: 330px;
    height: 204px; // 40 + 148 + (2 * 8)
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    }
    .home-dialog-my-trade-edit-header {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: solid 1px $colorDarkGray;
        color: $colorDarkGray;
        box-sizing: border-box;
        }

    .home-dialog-my-trade-edit-main {
        width: 100%;
        height: 148px; // (2 * 50) + (40 + 8)
        }
        .home-dialog-my-trade-edit-submit {
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin: 8px 0 0 0;
            background-color: $colorBlue;
            border-radius: 8px;
            font-size: 14px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            }
