@import '../../../includes/style/environment';
@import '../../../includes/style/mixins';

.home-dialog-tab-edit {
    width: 330px;
    height: 154px; // 40 + 98 + (2 * 8)
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    }
    .home-dialog-tab-edit-header {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: solid 1px $colorDarkGray;
        color: $colorDarkGray;
        box-sizing: border-box;
        }
        .home-dialog-tab-edit-title {
            float: left;
            }

        .home-dialog-tab-edit-delete-button {
            width: 24px;
            height: 24px;
            line-height: 24px;
            float: right;
            margin: 8px 0 0 0;
            background-color: rgba($colorRed, 0.2);
            text-align: center;
            border-radius: 8px;
            cursor: pointer;

            i {
                vertical-align: middle;
                font-size: 16px;
                color: $colorRed;
                }
            }

    .home-dialog-tab-edit-main {
        width: 100%;
        height: 98px; // (1 * 50) + (40 + 8)
        }
        .home-dialog-tab-edit-submit {
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin: 8px 0 0 0;
            background-color: $colorBlue;
            border-radius: 8px;
            font-size: 14px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            }
