@import './includes/style/environment';
@import './includes/style/mixins';

#app {
  width: 100vw;
  height: 100vh;
  }
  #app-initial {
    width: 100%;
    height: 100%;
    position: relative;
    }
    #app-initial-loading {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border: solid 3px $colorUltraLightGray;
      border-top: solid 3px $colorBlue;
      border-radius: 28px + 3px;

      @include animation(app_initial_loading 1.0s linear infinite);
      }

    @include keyframes(app_initial_loading) {
      0%   { transform: rotate(0deg) }
      100% { transform: rotate(360deg) }
      }

    #app-initial-loading-icon {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      text-align: center;

      i {
        vertical-align: middle;
        line-height: 56px;
        font-size: 28px;
        color: $colorLightGray;
        }
      }
