@import './includes/style/mixins';

html {
  width: 100%;
  height: 100%;
  }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: iranSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: iranSans;
}

textarea {
  font-family: iranSans;
}

select {
  font-family: iranSans;
}

option {
  font-family: iranSans;
}

input[type=submit] {
  padding: 0;
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  }

i {
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.router-blur {
  @include filter(blur(2px));
  }

